<!DOCTYPE html>
<html>
  <head>
    <title>Vector embedding search</title>
  </head>
  <body>
    <h1>Vector embedding search</h1>
    <p><%= test_var %></p>
    <form id="form" action="">
      <input id="input" autocomplete="off" /><button>Send</button>
    </form>
  </body>
</html>